header{
    font-family: Roboto, ;
    display: flex;
    flex-direction: row;
    background-color: red;
    justify-content: space-between;
    top: 0;
    width: 100%;
    position: fixed;
}

.left-side-items{
    width: 20rem;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-items{
    width: 20%;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    background-color: lightcoral;
    align-items: center;
    
}

.dragon-image{
    object-fit: contain;
    height: 5rem;
    min-width: 1rem;
    
}

.right-side-items{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 20rem;
    display: flex;
    background-color: yellowgreen;
    align-items: center;
    justify-content: space-between;
    
}

.avatar-image{
    height: 50px;
    border-radius: 2rem;
}



